.pageContainer {
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: 200px 800px 220px;
}

.filterContainer {
  display: flex;
  flex-direction: column;
}

.cardContainer {
  display: flex;

  .pageLinkContainer {
    display: flex;
    flex: 0 0 30px;
  }
}
