{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": [
          "chrome 57",
          "chrome 58",
          "edge 14",
          "edge 15",
          "firefox 52",
          "firefox 53",
          "ie 11",
          "safari 9",
          "safari 10"
        ]
      }
    }],
    "@babel/preset-react",
    "@babel/preset-flow",
    "babel-preset-power-assert"
  ],
  "plugins": [
    "@babel/plugin-syntax-jsx",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-react-jsx",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
