.title {
  font-size: 1rem;
}

.manaCostContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  > .manaCost {
    display: flex;
    flex: 0 0 50px;
    height: 38px;
    justify-content: center;
    align-items: center;

    > span {
      background: #fff;
      color: #333;
      min-width: 36px;
      text-align: center;
      cursor: pointer;
      user-select: none;
      line-height: 1.8;
      border-radius: 6px;

      &.chosen {
        color: #fff;
        background: #666;
      }
    }
  }
}
