.container {
  position: relative;
  display: flex;
  width: 200px;
  height: 28px;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  cursor: pointer;
  font-size: 12px;
}

.cost {
  display: flex;
  flex: 0 0 18px;
  justify-content: center;
  align-items: center;
  background: #333;
  color: #fff;
  height: 100%;
}

.name {
  flex: 1 1 auto;
  text-shadow: 1px 1px 2px #333, -1px -1px 2px #333;
  font-size: 0.9rem;
  padding-left: 4px;
}

.count {
  flex: 0 0 10px;
  padding: 0 2px;
  background: #000;
  color: yellow;
  text-align: center;
}
