.container {
  position: relative;
  display: flex;
  width: 200px;
  height: 36px;
  align-items: center;
  padding-left: 8px;
  margin: 4px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  cursor: pointer;
  font-size: 12px;
}

.name {
  flex: 1 1 auto;
  text-shadow: 1px 1px 2px #333, -1px -1px 2px #333;
}

.count {
  flex: 0 0 10px;
  padding: 0 2px;
  background: #000;
  color: yellow;
  text-align: center;
}
