.table {
  display: flex;
  font-size: 13px;
  line-height: 1.5em;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 26px;
  padding-right: 2px;
}

.barContainer {
  width: 20px;
  height: 80px;
  background: #333;

  .bar {
    width: 20px;
    height: 80px;
    background: #fff;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform .25s;
  }
}
